// ----------------------------------------------
//		profile
// ----------------------------------------------
.profile {
  padding: 70px 0;

  &__container {
    max-width: 625px;
    box-shadow: none;

    @media only screen and (max-width: 1200px) {
      max-width: 425px;
    }
    @media only screen and (max-width: 992px) {
      max-width: 425px;
    }
    @media only screen and (max-width: 768px) {
      max-width: 425px;
    }
    @media only screen and (max-width: 480px) {
      max-width: 425px;
    }
  }

  &__title {
    margin-bottom: 35px;
  }
}

.profile-form {
  &__btns {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__textarea {
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    margin-bottom: 35px;
  }

  // &__btn {
  //   margin-right: 0;
  //   padding: 12px 25px 12px 25px;
  // }
}
